h1{
    text-align: center;
}

p{
    font-size:20px;
}

span{
    font-size:25px;
    color: red;
}

input{
    margin: 1px;
    /* padding: 2px, 0px; */
    /* float: left; */
    /* border: 1px; */
}